

<p>
  video-component works!
</p>

<audio
  id="player"
  crossOrigin="anonymous"
  src="https://mp3l.jamendo.com//?trackid=1162014&format=mp31&from=app-devsite"
  autoplay
  controls
  >
  Your browser does not support the <code>audio</code> element.
</audio>

<div class="wrapper">
  <canvas id="visualizer" #canvas></canvas>
  <div class="controls">
    <button type="button" id="play">play</button>
    <div id="trackTimeline">
      <div id="trackHead">

      </div>

    </div>
    <div class="volumeController">

    </div>
  </div>
</div>
