
<audio
  id="player"
  crossOrigin="anonymous"
  src="https://mp3l.jamendo.com//?trackid=1162014&format=mp31&from=app-devsite"
  >
  Your browser does not support the <code>audio</code> element.
</audio>

<div class="wrapper">
  <canvas id="visualizer">
  </canvas>
  <div class="controls">

  <div id="timelineControllsWrapper">
    <button type="button" id="play" class="pause">
      <i id="play-icon" class="icon-pause control-icon"></i>
    </button>

    <div id="trackTimelineWrapper" class="slider-wrapper">
      <div id="trackTimeline" class="slider">
        <a id="trackTimelineProgress" class="slider-progress">
        </a>
        <a id="trackHead" class="controls-head">
          <i class="icon-playhead"></i>
        </a>
      </div>
    </div>
  </div>

  <div id="volume-wrapper">
    <button type="button" name="button" id="volume-controller">
      <i id="volume-icon" class="icon-speaker_1_sound control-icon"></i>
    </button>

    <div id="volumeSliderWrapper" class="slider-wrapper">
      <div id="volume" class="slider">
        <a id="volumeProgress" class="slider-progress">
        </a>
        <a id="volumeHead" class="controls-head">
          <i class="icon-playhead"></i>
        </a>
      </div>
    </div>
  </div>

  </div>

</div>
