@import "../../assets/mixins/prefix-mixin";

  .wrapper{
    text-align: center;
    .visualizer{
    }
    .controls{
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      margin-left: 5%;
      margin-right: 5%;

      .slider-wrapper{
        padding-top: 7px;
        padding-bottom: 7px;
        .slider{
          height: 1px;
          width: 100%;
          background-color: rgb(71, 71, 71);
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
        }
      }

      .controls-head{
        width: 7px;
        height: 30px;
        svg{
          width: 7px;
          height: 30px;
        }
      }

      .invisible{
        display: none;
      }


      button{
        svg{
          @include includeThing('transition', width 0.1s);
          @include includeThing('transition', height 0.1s);
          &:hover{
            width: 32px;
            height: 32px;
          }
        }
      }

      svg{
        path{
          stroke: #acacac;
        }
        &:hover{
          path{
            stroke: #fff;
          }
        }
      }

      #timelineControllsWrapper{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 80%;
        #play, .pause, .play{
          background: black;
          border: none;
          padding: 0;
          padding-top: 3px;
          margin-right: 5%;
          &:focus{
            outline: 0;
          }

        }
        #trackTimelineWrapper{
          height: inherit;
          width: 100%;
          margin-right: 5%;
        }
      }



      #volume-wrapper{
        width: 20%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        #volume-controller{
            padding-top: 3px;
            margin-right: 10%;
            background-color: black;
            border: none;

            &:focus{
              outline: 0;
            }
        }
        #volumeSliderWrapper{
          height: inherit;
          width: 80%;
          #volume{

          }
        }
      }


    }
  }
