

<div class="wrapper">
  <h1>
    Register:
  </h1>

  <form [formGroup]="registerForm"  *ngIf="active"  (ngSubmit)="onSubmit()">

    <div class="input-group">
      <label for="username">Username:</label>
      <input type="text" id="username" value=""
      formControlName="username" required>
      <div *ngIf="formErrors.username" class="alert alert-danger">
        {{ formErrors.username }}
      </div>
    </div>

    <div class="input-group">
      <label for="email">Email:</label>
      <input type="text" id="email" value=""
      formControlName="email" required>
      <div *ngIf="formErrors.email" class="alert alert-danger">
        {{ formErrors.email }}
      </div>
    </div>

    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" id="password" value=""
      formControlName="password" required>
      <div *ngIf="formErrors.password" class="alert alert-danger">
        {{ formErrors.password }}
      </div>
    </div>

    <div class="input-group">
      <label for="rePassword">Confirm password:</label>
      <input type="password" id="rePassword" value=""
      formControlName="rePassword" required>
      <div *ngIf="formErrors.rePassword" class="alert alert-danger">
        {{ formErrors.rePassword }}
      </div>
    </div>


    <button [disabled]="!registerForm.valid" type="submit" id="register-button">Register</button>

  </form>


</div>
